@import 'var.scss';
@import 'font.scss';
@import 'mixins.scss';

* {
    font-family: 'Museo Sans 100', sans-serif;
}

h1 {
    color: red;
}

.sticky-nav {
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.logo-and-carts-container {
    flex-grow: 1;
    position: relative;
}

.sticky-nav .logo-container {
    height: 100%;
}


.page-title {
    padding-top: 20px;
}

h1 {
    @include fontBold(30px, $colourBlack, 40px);
    text-align: left;
    letter-spacing: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.h1 {
    @include fontBold(30px, $colourBlack, 40px);
    text-align: left;
    letter-spacing: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.triangle-down {
    @include triangleBottom(12px, 11px);
    position: relative;
    top: -2px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 11px 5.5px 0;
    border-color: $colourGreen #007bff transparent transparent;
}

.clearboth {
    clear: both;
}

.extra-bold {
    font-family: $fontNameExtraBold !important;
}

.red {
    color: $colourRed;
}

.orange {
    color: $colourOrange !important; 
}

.content-block {
    .text {
        @include fontMedium(20px, $colourBlack, 30px);
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }

    .text.extra-bold {
        @include fontExtraBold(20px, $colourBlack, 30px);
    }
}

.table * {
    @include fontMedium(20px, $colourBlack, 30px);
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}

.title-chevron {
    display: inline-block;
    padding-right: 10px;
    //@include fontCond(30px, $colourGreen, 40px, 900, normal);
    @include fontExtraBold(30px, $colourGreen, 40px);
    text-align: left;
    letter-spacing: 0px;
}

.title-arrow {
    color: $colourOrange;
}

.page-content > .row {
    margin-top: 30px;
}

.btn.btn-primary {
    border-radius: 0px 0px;
    @include fontExtremeBold(20px, $colourWhite, 40px);
    background-color: $colourGreen;
    text-align: center;
    text-transform: uppercase;
}

.btn.btn-primary:hover {
    background-color: $colourGreen;
}


form.form {
    box-shadow: 0px 2px 5px #000029;
    width: 100%;
    padding: 20px 17px 20px 17px;


    .title {
        height: 40px;
        @include fontExtraBold(30px, $colourBlack, 30px);
    }


    .form-check {
        padding-left: 1.5rem;
    }

    .form-check .form-check-input {
        /*margin-top: 19px;
        margin-left: -1.5rem;
        border: 1px solid $colourGreyBorder2;
        @include fontLight(20px, $colourGreyBorder2, 30px);*/
        display: none;
    }
    /*.form-check .form-check-input + label {
        color: #fff;
        margin-bottom: 0px;
        @include fontMedium(13px, $colourWhite, 15px);
        padding-left: 20px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }*/
    .form-check .form-check-input + label::before {
        content: '';
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid $colourGreyBorder2;
        position: absolute;
        width: 13px;
        height: 13px;
        top: 19px;
        left: 0px;
        cursor: pointer;
    }

    .form-check .form-check-input:checked + label::before {
        background-color: $colourGreen;
    }

    .form-check.terms .form-check-input + label {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .form-check .form-check-label {
        margin-top: 15px;
    }

    label {
        margin-top: 20px;
        margin-bottom: 0px;
        @include fontMedium(20px, $colourBlack, 20px);
        letter-spacing: 0px;
        text-align: left;
    }

    label.extra-bold {
        @include fontExtraBold(20px, $colourBlack, 30px);
    }

    .field-row.required label > .asterisk {
        @include fontMedium(20px, $colourGreen, 20px);
        letter-spacing: 0px;
        text-align: left;
    }

    .field-content {
        border: 1px solid $colourGreyBorder;
        padding: 27px 24px 26px 16px;
    }

    .green {
        color: $colourGreen;
    }

    .black {
        color: $colourBlack;
    }

    .field-content .text {
        text-align: left;
        @include fontMedium(20px, $colourBlack, 30px);
        letter-spacing: 0px;
        padding-top: 20px;
    }

    .field-content .text.extra-bold {
        text-align: left;
        @include fontMedium(20px, $colourGreen, 30px);
        letter-spacing: 0px;
    }

    .form-control {
        margin-top: 10px;
        border-radius: 0px;
        padding: 10px 20px 10px 20px;
        height: 40px;
        border: 1px solid $colourGreyBorder;
        @include fontMedium(15px, $colourBlack, 30px);
        text-align: left;
        letter-spacing: 0px;
        width: 100%;
    }

    .form-control:focus {
        box-shadow: none;
    }
}

.payment-grid {
    background-color: #EAEAEA;
    padding: 22px 17px 13px 17px;

    .field-group {
        margin-top: 25px;
    }
}