@import 'var.scss';
@import 'font.scss';
@import 'mixins.scss';

@media screen and (min-width: 992px) {
    .sticky-nav {
        background-color: rgb(64, 147, 56);

        .logo-container {
            line-height: 90px;
            margin-left: 50px;
        }

        .logo {
            width: 128px;
        }

        .main-nav {
            display: flex;
            flex-direction: row;
        }

        .logo-and-carts-container {
            flex-grow: 1;
            position: relative;
        }

        .logo-container {
            position: relative;
            z-index: 1;
        }

        .ribbons {
            position: absolute;
            width: 100%;
        }

        .ribbons > * {
            height: 90px;
        }

        .ribbons .left {
            width: 35%;
            float: left;
            background-color: $colourGreen;
            position: relative;
            z-index: 1;
        }

        .ribbons .left .triangle-bottom-left {
            @include triangleBottomLeft(75px, 90px, $colourGreen, absolute);
            right: -75px;
        }

        .ribbons .center {
            width: 45%;
            float: left;
            background-color: $colourGreenMedium;
            position: relative;
        }

        .ribbons .right {
            width: 20%;
            float: left;
            background-color: $colourGreenDark;
            position: relative;
            z-index: 1;
        }

        .ribbons .right .triangle-bottom-right {
            position: absolute;
            @include triangleBottomRight(75px, 90px, $colourGreenDark, absolute);
            left: -75px;
        }

        .donate {
            flex-grow: 0;
            width: 180px;
            background-color: $colourOrange;
            @include fontExtremeBold(20px, $colourWhite, 90px);
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }

        .sub-nav {
            background-color: $colourWhite;
            box-shadow: 0px 2px 5px #00000029;
            height: 60px;
            width: 100%;
        }
    }

    .ribbons {
        position: relative;
    }

    .ribbons > * {
        position: absolute;
    }

    .sub-nav .nav {
        margin: 0 auto;
        max-width: 1300px;
        flex-direction: row;
        justify-content: center;

        .nav-item {
            cursor: pointer;
        }

        .nav-item > * {
            text-align: left;
            @include fontExtraBold(19px, $colourBlack, 40px);
            letter-spacing: 0px;
            opacity: 1;
            text-transform: uppercase;
        }

        .nav-item .triangle-down {
            margin-left: 10px;
            cursor: pointer;
        }

        .nav-item.hotline {
            cursor: default;
        }
    }

    .page-content {
        margin-bottom: 100px;
    }

    .page-content.events-page {
        margin-bottom: 40px;
    }
    .events-list {

        .event {
            margin-top: 30px;
        }

        .event:nth-child(1), .event:nth-child(2), .event:nth-child(3) {
            margin-top: 0px;
        }
        /*.event .interior {
            padding-top: 20px;
        }*/
    }

    .btn.btn-primary {
        display: inline-block;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
    }

    .btn.btn-primary:hover {
        background-color: $colourOrange;
    }

    .form {
        .btn.btn-primary {
            margin-top: 30px;
        }

        .payment-grid .field-group {
            background-color: #E2E2E2;
            padding: 15px 20px 22px 20px;
        }
    }

    .footer {
        width: 100%;
    }

    .join-us-today {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        background-color: $colourGreen;
        padding: 20px 92px 19px 92px;
    }

    .join-us-today .title {
        text-align: left;
        @include fontExtremeBold(30px, $colourWhite, 37px);
        letter-spacing: 0px;
        flex-basis: 162px;
        padding-right:20px;
        flex-grow: 0;
    }

    .join-us-today .field-group {
        flex-grow: 1;
    }

    .join-us-today .field-row {
        display: flex;
        margin-top: 10px;
    }

    .join-us-today input {
        flex-grow: 1;
        display: inline-block;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        height: 40px;
        @include fontMedium(15px, $colourGrey, 40px);
        letter-spacing: 0px;
        text-align: left;
    }

    .join-us-today .field-row:first-child {
        margin-top: 6px;
    }

    .join-us-today .field-row input[type='checkbox'] {
        display: none;
    }

    .join-us-today .field-row input[type='checkbox'] + label {
        color: #fff;
        margin-bottom: 0px;
        @include fontMedium(13px, $colourWhite, 15px);
        padding-left: 20px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    .join-us-today .field-row input[type='checkbox'] + label::before {
        content: '';
        background-color: $colourWhite;
        border-radius: 4px;
        position: absolute;
        width: 8px;
        height: 8px;
        top: 4px;
        left: 0px;
    }

    .join-us-today .field-row input[type='checkbox']:checked + label::before {
        background-color: $colourBlack;
    }

    .join-us-today button {
        flex-grow: 1;
        display: inline-block;
        padding: 0px 20px;
        border: none;
        @include fontExtremeBold(24px, $colourWhite, 40px);
        letter-spacing: 0px;
        opacity: 1;
        background: $colourOrange 0% 0% no-repeat padding-box;
        cursor: pointer;
    }

    .stay-connected {
        padding-bottom: 20px;
        border: 1px solid #B1B1B1;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top:20px;
    }

    .stay-connected .text {
        width: 200px;
        display: inline-block;
        @include fontCond(20px, $colourGreen, 22px, 700, normal);
        text-align: center;
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
    }

    .stay-connected .icons {
        display: flex;
        width: 219px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .stay-connected .facebook-icon {
        width: 8px;
        height: 17px;
        background: $colourGreen 0% 0% no-repeat padding-box;
    }

    .stay-connected .instagram-icon {
        width: 18px;
        height: 18px;
        background: $colourGreen 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .stay-connected .twitter-icon {
        width: 21px;
        height: 17px;
        background: $colourGreen 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .stay-connected .linkedin-icon {
        width: 18px;
        height: 18px;
        background: $colourGreen 0% 0% no-repeat padding-box;
        //background: transparent url('img/61109.png') 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .stay-connected .youtube-icon {
        width: 25px;
        height: 17px;
        background: $colourGreen 0% 0% no-repeat padding-box;
        //background: transparent url('img/61109.png') 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .stay-connected .mail-icon {
        width: 24px;
        height: 13px;
        background: $colourGreen 0% 0% no-repeat padding-box;
        //background: transparent url('img/61109.png') 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .footer-links-and-tms {
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 59px;
    }

    .footer-links-and-tms .link-group {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-links-and-tms .footer-tm {
        padding-top: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-links-and-tms .link {
        @include fontLight(15px, $colourBlack, 20px);
        cursor: pointer;
        text-decoration: none;
    }

    .footer-links-and-tms .text {
        @include fontLight(15px, $colourBlack, 20px);
    }

    .footer-links-and-tms .text .bold {
        @include fontMedium(15px, $colourBlack, 20px);
    }

    .footer-links-and-tms .pipe {
        padding-left: 4px;
        padding-right: 4px;
        @include fontLight(15px, $colourBlack, 20px);
    }

    .footer-tm {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1281px) {
    .join-us-today {
        padding: 20px 6.5vw 19px 6.5vw;
    }
}