@import 'var.scss';
@import 'font.scss';

@mixin fontLight($fontSize, $colour, $lineHeight) {
    font-family: $fontNameLight;
    font-size: $fontSize;
    color: $colour;
    line-height: $lineHeight;
}

@mixin fontMedium($fontSize, $colour, $lineHeight) {
    font-family: $fontNameMedium;
    font-size: $fontSize;
    color: $colour;
    line-height: $lineHeight;
}

@mixin fontBold($fontSize, $colour, $lineHeight) {
    font-family: $fontNameBold;
    font-size: $fontSize;
    color: $colour;
    line-height: $lineHeight;
}

@mixin fontExtraBold($fontSize, $colour, $lineHeight) {
    font-family: $fontNameExtraBold;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $colour;
}

@mixin fontExtremeBold($fontSize, $colour, $lineHeight) {
    font-family: $fontNameExtremeBold;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $colour;
}

@mixin fontCond($fontSize, $colour, $lineHeight, $fontWeight, $fontStyle) {
    font-family: $fontNameCond;
    font-size: $fontSize;
    color: $colour;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    font-style: $fontStyle;
}

@mixin triangleLeft($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height calc(#{$width} / 2) 0 calc(#{$width} / 2);
    border-color: $colour transparent transparent transparent;
    position: $position;
}

@mixin triangleBottomLeft($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height 0 0 $width;
    border-color: transparent transparent transparent $colour;
    position: $position;
}

@mixin triangleBottom($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height calc(#{$width} / 2) 0 calc(#{$width} / 2);
    border-color: $colour transparent transparent transparent;
    position: $position;
}

@mixin triangleBottomRight($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 $height $width;
    border-color: transparent transparent $colour transparent;
    position: $position;
}

@mixin triangleRight($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(#{$height} / 2) 0 calc(#{$height} / 2) $width;
    border-color: transparent $colour transparent transparent;
    position: $position;
}

@mixin triangleTop($width, $height, $colour: $colourGreen, $position: static) {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 calc(#{$width} / 2) $height calc(#{$width} / 2);
    border-color: transparent $colour transparent transparent;
    position: $position;
}