$fontNameLight: 'Museo Sans 100';
$fontNameMedium: 'Museo Sans 300';
$fontNameBold: 'Museo Sans 500';
$fontNameExtraBold: 'Museo Sans 700';
$fontNameExtremeBold: 'Museo Sans 900';
$fontNameCond: 'Museo Sans Condensed';


$colourBlack: #000;
$colourWhite: #fff;
$colourGreen: #4FAF46;
$colourGreenMedium: #48A53F;
$colourGreenDark: #409338;
$colourOrange: #F26F22;
$colourGrey: #B1B1B1;
$colourGreyBorder: #C1C1C1;
$colourGreyBorder2: #707070;
$colourRed: #D30000;